body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #f4f7fa;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1e3c72;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #2a5298;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background: red;
  color: white;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  color: white;
  text-align: center;
}

.blue { background: #2193b0; }
.green { background: #11998e; }
.orange { background: #f7971e; }

.symptom-box {
  margin-top: 30px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.symptoms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin: 20px 0;
}

.symptoms-grid label {
  background: #f1f3f6;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.result-box {
  margin-top: 15px;
}
